*__pycache__/
code/args_chkpoints/
code/clean.sh
code/data/
code/meshes/
code/model_chkpoints/
code/plots/
*slurm-*
cylinder_flow/
code/args/
code/18-11-23/
code/accuracies
code/gifs/
code/deprecated/
code/logs
code/latent_space_exploration/
code/save_trajectories.py
code/constructargs.py
code/flip_test/
code/spec_test.py
code/test.ipynb
code/test.py
.gitignore
